.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App>* {
  margin-top: 16px !important;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container>* {
  margin-top: 16px !important;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.card {
  border-radius: 4.75% / 3.5%;
  width: 336px;
  height: 468px;
}

.card-rotated {
  transform: rotate(0.25turn) scale(0.75);
}

.card-flipped {
  transform: rotate(0.5turn);
}